---
import Counter from "./Counter.vue";
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-6 lg:mb-12">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX Launches 🚀
    </h2>
    <p class="font-light text-gray-100 sm:text-xl dark:text-gray-100">
      All the information about SpaceX launches in one place.
    </p>
  </div>
  <section
    class="flex justify-center mb-4"
    transition:name="counter-vue"
    transition:persist
  >
    <Counter client:visible />
  </section>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton href="/" class="text-white">
      <svg
        slot="before"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
        ></path>
        <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
        <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
      </svg>
       Últimos lanzamientos
    </HeaderButton>
    <HeaderButton href="/oldest" class="text-white">
      <svg
        slot="before"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M20.984 12.535a9 9 0 1 0 -8.431 8.448"></path>
        <path d="M12 7v5l3 3"></path>
        <path d="M19 16v6"></path>
        <path d="M22 19l-3 3l-3 -3"></path>
      </svg>
       Los más viejos
    </HeaderButton>
  </nav>
</header>
